<div class="center">
    <h1>Questionnaire</h1>
    <div>
        <label for="userSelect">Who are you?</label><br><br>
        <select id="userSelect" [(ngModel)]="selectedUser">
            <option value="">Select User</option>
            <option value="Badria Almamari">Badria Almamari</option>
            <option value="Sara Almamari">Sara Almamari</option>

        </select>
    </div>
    <br><br>
    <div *ngIf="selectedUser" class="inputbox">
        <p>User Name: {{ selectedUser }}</p>
      </div>
    <br><br>
    <div class="inputbox">
    <button type="button" [disabled]="!selectedUser" (click)="startQuestionnaire()">Next</button>
    </div>
</div>